<header class="header">
  <div class="container header-container">
    <nav class="header-nav header-container">
      <a class="icon-link icon-header link header-paddings" href="./index.html"
        ><span class="icon-link-web">Easy</span>Manager</a
      >
      <ul class="header-list list header-container">
        <li class="header-item">
          <a
            class="menu-link link header-paddings menu-link-selected"
            href="./orgtree.html"
            >OrgTree</a
          >
        </li>
        <li class="header-item">
          <a class="menu-link link header-paddings" href="#">Projects</a>
        </li>
        <li class="header-item">
          <a class="menu-link link header-paddings" href="#">Clients</a>
        </li>
        <li class="header-item">
          <a class="menu-link link header-paddings" href="#">Learnings</a>
        </li>
      </ul>
    </nav>
    <div class="header-item header-profile">
      <a class="menu-link link header-paddings" href="#">Profile</a>
    </div>
  </div>
</header>
