<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla App Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body> -->
<!-- <load src="partials/header.html" /> -->

<!-- <header class="header">
      <div class="container header-container">
        <nav class="header-nav header-container">
          <a
            class="icon-link icon-header link header-paddings"
            href="./index.html"
            ><span class="icon-link-web">Easy</span>Manager</a
          >
          <ul class="header-list list header-container">
            <li class="header-item">
              <a class="menu-link link header-paddings" href="./orgtree.html"
                >OrgTree</a
              >
            </li>
            <li class="header-item">
              <a class="menu-link link header-paddings" href="./projects.html"
                >Projects</a
              >
            </li>
            <li class="header-item">
              <a
                class="menu-link link header-paddings menu-link-selected"
                href="./clients.html"
                >Clients</a
              >
            </li>
            <li class="header-item">
              <a class="menu-link link header-paddings" href="./learnings.html"
                >Learnings</a
              >
            </li>
          </ul>
        </nav>
        <div class="header-item header-profile">
          <a class="menu-link link header-paddings" href="./profile.html"
            >Profile</a
          >
        </div>
      </div>
    </header>
    <main>
      <section class="section3 sections-padding" id="team-section">
        <div class="container">
          <h2 class="secondary-header visually-hidden">Our Clients</h2>
          <ul class="section3-list list sections-list">
            <li class="section3-item">
              <picture> -->
<!-- Desktop screen -->
<!-- <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/desktop/markguerrero@1x.webp 1x,
                    ./img/desktop/markguerrero@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/desktop/markguerrero@1x.jpg 1x,
                    ./img/desktop/markguerrero@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="section3-image"
                  src="./img/desktop/markguerrero@1x.jpg"
                  alt="Mark Guerrero's photo"
                  width="234"
                  height="230"
                  loading="lazy"
                />
              </picture>
              <div class="text-about-team">
                <h3 class="section-subtitle">Mark Guerrero</h3>
                <p class="main-text section3-text-margin">MedicineCO</p>
                <ul class="socials-links-list sections-list list">
                  <li class="socials-links-item">
                    <a
                      href="https://gmail.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-mail"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://facebook.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://linkedin.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="section3-item">
              <picture> -->
<!-- Desktop screen -->
<!-- <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/desktop/tomford@1x.webp 1x,
                    ./img/desktop/tomford@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/desktop/tomford@1x.jpg 1x,
                    ./img/desktop/tomford@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="section3-image"
                  src="./img/desktop/tomford@1x.jpg"
                  alt="Tom Ford's photo"
                  width="234"
                  height="230"
                  loading="lazy"
                />
              </picture>
              <div class="text-about-team">
                <h3 class="section-subtitle">Tom Ford</h3>
                <p class="main-text section3-text-margin">Vogue</p>
                <ul class="socials-links-list sections-list list">
                  <li class="socials-links-item">
                    <a
                      href="https://gmail.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-mail"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://facebook.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://linkedin.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="section3-item">
              <picture> -->
<!-- Desktop screen -->
<!-- <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/desktop/italomelo@1x.webp 1x,
                    ./img/desktop/italomelo@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/desktop/italomelo@1x.jpg 1x,
                    ./img/desktop/italomelo@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="section3-image"
                  src="./img/desktop/italomelo@1x.jpg"
                  alt="Italo Melo's photo"
                  width="234"
                  height="230"
                  loading="lazy"
                />
              </picture>
              <div class="text-about-team">
                <h3 class="section-subtitle">Italo Melo</h3>
                <p class="main-text section3-text-margin">TechCult</p>
                <ul class="socials-links-list sections-list list">
                  <li class="socials-links-item">
                    <a
                      href="https://gmail.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-mail"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://facebook.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://linkedin.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="section3-item">
              <picture> -->
<!-- Desktop screen -->
<!-- <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/desktop/camilagarcia@1x.webp 1x,
                    ./img/desktop/camilagarcia@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/desktop/camilagarcia@1x.jpg 1x,
                    ./img/desktop/camilagarcia@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="section3-image"
                  src="./img/desktop/camilagarcia@1x.jpg"
                  alt="Camila Garcia's photo"
                  width="234"
                  height="230"
                  loading="lazy"
                />
              </picture>
              <div class="text-about-team">
                <h3 class="section-subtitle">Camila Garcia</h3>
                <p class="main-text section3-text-margin">MarketPlace</p>
                <ul class="socials-links-list sections-list list">
                  <li class="socials-links-item">
                    <a
                      href="https://gmail.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-mail"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://facebook.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://linkedin.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="section3-item">
              <picture> -->
<!-- Desktop screen -->
<!-- <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/desktop/danielwilson@1x.webp 1x,
                    ./img/desktop/danielwilson@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/desktop/danielwilson@1x.jpg 1x,
                    ./img/desktop/danielwilson@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="section3-image"
                  src="./img/desktop/danielwilson@1x.jpg"
                  alt="Daniel Wilson's photo"
                  width="234"
                  height="230"
                  loading="lazy"
                />
              </picture>
              <div class="text-about-team">
                <h3 class="section-subtitle">Daniel Wilson</h3>
                <p class="main-text section3-text-margin">Wilson && Wilson</p>
                <ul class="socials-links-list sections-list list">
                  <li class="socials-links-item">
                    <a
                      href="https://gmail.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-mail"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://facebook.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials-links-item">
                    <a
                      href="https://linkedin.com"
                      rel="noopener noreferrer"
                      class="socials-links"
                    >
                      <svg class="socials-icon" width="14" height="14">
                        <use href="./icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main> -->

<!-- <script type="module" src="/main.js"></script> -->
<!-- </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla App Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <h1>Team Members</h1>
    <ul>
      <% teamMembers.forEach(teamMember => { %>
      <li>
        <h2><%= teamMember.name %></h2>
        <p><%= teamMember.company %></p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
